{% load static %}
<html>
<head>
    <style>
        body {
            text-align: left;
            background-color: #90afdb;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 40px;
            padding-left: 40px;
        }
    </style>
</head>

<body>
<form method = 'GET' action =''>
	<input type = 'text' name ='q' placeholder='search brands'/>
	<input type = 'submit' value = 'search'/>
</form>
<ul>
	{% for brand in all_Brands %}
	<li>
		<a href ="/home/{{ brand.pk }}/">{{ brand.company_name }}</a>
	</li>
	{% endfor %}
</ul>
</body>