<!-- LOGIN PAGE -->
<!DOCTYPE HTML>

<html>
<head>
	<style>
		body {
			text-align: center;
			background-color: #82FF93;
		}
	</style>
</head>

<body>
 	<h1>Generic Car Dealership Database Software</h1>

 	<hr style="padding-bottom: 2px;" />

  	<form style="padding-top: 10px;">
  		USERNAME: <input name="user" style="margin-left: 8px;" type="text" /> <br>
  		PASSWORD: <input name="password" type="text" /> 
  		<form/>
  		<br> 
  		<br> 
  		<input type="submit" value="Submit" />
 	</form>
</body>
		
</html>
